/*===================================
#GOOGLE FONTS
===================================*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;0,600;1,400&family=Lobster+Two:wght@400;700&display=swap');

/*===================================
#CSS VARIABLES
===================================*/

:root {
  --header-height: 5rem;

  /*===============
   * Colors
  ===============*/

  --first-color: hsl(27, 34%, 59%);
  --first-color-light: hsl(42, 13%, 34%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 67%);
  --bg-color: hsl(0, 0%, 8%);
  --container-color: hsl(0, 0%, 6%);
  --hsla: hsla(0, 0%, 0%, 0.75);

  /*===============
   * Typography
  ===============*/

  --body-font: 'Kanit', sans-serif;
  --second-font: 'Lobster Two', cursive;

  --biggest-font-size: 4.125rem;
  --bigger-font-size: 3.125rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.875rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --largest-font-size: 1.375rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*===============
   * Border-radius
  ===============*/

  --radius: 0.5rem;

  /*===============
   * Transition
  ===============*/

  --transition: ease-in-out;
}

/*===================================
#RESET
===================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input,
textarea,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-400);
}

ul {
  list-style: none;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

/*===================================
#RESUABLE CSS CLASSES
===================================*/

.grid {
  display: grid;
  gap: 1.5rem;
}
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.section {
  padding-block: 7.5rem;
}

.background {
  background: center / cover url(./assets/home-bg.png);
  min-height: calc(100vh + var(--header-height));
}

.btn {
  display: inline-block;
  color: var(--title-color);
  background: var(--first-color);
  border: 2px solid var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: var(--first-color);
}

.btn:disabled {
  opacity: 0.7;
  color: var(--title-color);
  background: var(--first-color);
  cursor: unset;
}

.btn--flex {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.section__title {
  text-align: center;
  font-size: var(--big-font-size);
  margin-bottom: 2.5rem;
}

.section__title::before {
  content: attr(data-title);
  display: block;
  color: var(--first-color);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

html {
  scrollbar-width: thin;
  scrollbar-color: hsl(27, 34%, 59%) #e0e0e0;
}
